<div id="containerBox" class="containerBox">

  <div class="question">
    <p>Frage {{info.curr}}/{{info.length}}</p>
    <p>{{question.text}}</p>
  </div>
  
  {{#each question.answers}}
    {{> button_answer}}
  {{/each}}
  
</div>
