html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: white; }

.backgroundPic {
  width: 100%;
  opacity: .1;
  z-index: -1;
  background: url(../img/trgfahne.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0; }

.mainBox {
  position: absolute;
  width: 100%; }

.mainBoxImp {
  position: absolute;
  width: 100%;
  overflow: auto; }

nav {
  z-index: 1100; }

#myNavbar {
  background: #fa5858; }

#menuTeil1 {
  color: white; }

#menuTeil2 {
  color: white; }

#menuTeil3 {
  color: white; }

#menuTeil4 {
  color: white; }

#menuTeil5 {
  color: white; }

#headline {
  color: white; }

.containerBox {
  width: 100%;
  height: 77%;
  /*position: absolute;*/
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto; }

.containerBoxImp {
  overflow: auto; }

.box {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  text-align: center;
  color: rgba(11, 11, 59, 0.8); }

.hauptkat {
  font-size: 3.5vh;
  width: 85%;
  min-height: -0.8vh;
  margin: auto;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding-top: 2.3vh;
  flex-grow: 1; }

.subcat {
  font-size: 3.2vh;
  width: 85%;
  min-height: 0vh;
  margin: auto;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  padding-top: 2.5vh;
  flex-grow: 1; }

.mischcont1 {
  width: 90%;
  height: 55vh;
  margin: auto;
  text-align: center;
  color: whitesmoke;
  font-size: 3vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }

.mischcont2 {
  width: 95vw;
  height: 13vh;
  background: rgba(4, 180, 4, 0.7);
  border: 4px solid white;
  margin-top: 1vh;
  margin: auto;
  padding-top: 5vh;
  text-align: center;
  color: whitesmoke;
  font-size: 3vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }

.mischkat {
  min-width: 18.6vw;
  max-width: 100%;
  min-height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2.7vh;
  background: rgba(8, 75, 138, 0.8);
  position: relative;
  color: white; }

.mischkat2 {
  background: white;
  color: #0b0b3b;
  border: 1px outset #0b0b3b;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  position: relative; }

.erklaerBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%; }

.einleiterkl {
  color: rgba(11, 11, 59, 0.8);
  font-size: 2.5vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  top: 15%; }

.einleiterkl p {
  text-align: center; }

.einleitKatSpan {
  font-size: 2.7vh;
  font-weight: bold;
  color: #8a080d;
  text-shadow: 0px 0px 10px #ffffff;
  text-align: center; }

.contquest {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.frageBox {
  width: 95%;
  margin: auto;
  margin-top: 3%;
  top: 5%;
  background: rgba(11, 11, 59, 0.8);
  border-radius: 10px; }

.frageSatz {
  padding: 2% 2% 2% 4%;
  width: 100%;
  font-weight: bold;
  font-size: 2.1vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: white; }

.antwortBox {
  width: 95%;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  overflow: auto; }

.antwortSatz {
  min-height: 7.6vh;
  max-height: 16.1vh;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
  color: rgba(11, 11, 59, 0.8);
  border: 3px outset rgba(11, 11, 59, 0.8);
  font-size: 2vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 20px white;
  flex-grow: 1;
  flex-shrink: 1; }

.normal {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%; }

.mitBild {
  width: 17% !important;
  min-width: 22%;
  max-width: 22% !important; }

.zubreit {
  width: 25% !important;
  min-height: 7vh;
  max-height: 12vh; }

.bildF {
  height: 7vh; }

.bild {
  width: 8vh;
  height: 8vh;
  opacity: .8; }

.weiterBox {
  background: #fa5858;
  width: 100%;
  height: 9vh;
  text-align: center;
  position: absolute;
  border-top: 1px outset black; }

.clickBox {
  height: 97%;
  width: 25%;
  color: white;
  border-radius: 10px;
  border: 1px outset rgba(0, 0, 0, 0.7);
  background: #fa5858;
  text-align: center;
  font-size: 3vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  position: absolute; }

.zurueckBtn {
  position: absolute;
  left: 2%; }

.hinweismischenB {
  position: absolute;
  left: 37%; }

.mischenBtn {
  position: absolute;
  left: 73%; }

.start {
  position: absolute;
  left: 73%; }

.neustart {
  position: absolute;
  width: 70%;
  left: 15%; }

.abbruch {
  position: absolute;
  left: 2%; }

.weiter {
  margin-right: 0%;
  position: absolute;
  left: 73%; }

.popupBox1 {
  position: absolute;
  top: 0px;
  left: -2500px;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%; }

.popupBox {
  background: rgba(23, 11, 59, 0.8);
  width: 50%;
  height: 60vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5vh; }

.popupBox p {
  color: whitesmoke;
  font-size: 2.5vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }

.auswertBox {
  width: 70%;
  height: 70%;
  color: whitesmoke;
  font-size: 3vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding: 5%;
  background: rgba(8, 75, 138, 0.7);
  margin: auto;
  text-align: center; }

.auswertBox img {
  width: 159px;
  height: 123px; }

/**********************************************/
.loginBox {
  _height: 40%;
  width: 60%;
  /*    background:grey;*/
  border: 2px solid rgba(11, 11, 59, 0.8);
  margin: auto;
  overflow: auto; }

.loginHeadline {
  text-align: center;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: rgba(0, 0, 0, 0.7); }

.loginBtn {
  color: white;
  border-radius: 10px;
  border: 1px outset rgba(0, 0, 0, 0.7);
  background: #fa5858;
  text-align: center;
  font-size: 3vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%; }

#backToMenuBtn {
  background: rgba(11, 11, 59, 0.8); }

#fragenAnzahlBtn {
  background: lightblue; }

/**********************************************/
.adminBox1 {
  height: 90%;
  width: 90%;
  /*    background:grey;*/
  _border: 2px solid rgba(11, 11, 59, 0.8);
  margin: auto;
  _overflow: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.adminBox {
  height: 90%;
  width: 90%;
  /*    background:grey;*/
  _border: 2px solid rgba(11, 11, 59, 0.8);
  margin: auto;
  overflow: auto; }

.adminKatBtn {
  max-height: 20%;
  width: 90%;
  _background: whitesmoke;
  margin: auto;
  /*    position: relative;
      top:5%;
      margin-bottom: 5%; */
  _font-size: 1.2em;
  font-size: 3vh;
  font-weight: bold;
  padding: 8% 5% 5% 5%;
  text-align: center;
  _border: 2px solid rgba(11, 11, 59, 0.8);
  flex-grow: 1;
  color: rgba(11, 11, 59, 0.8);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.3); }

.katName.inputBoxen {
  margin-top: 2%;
  margin-bottom: 2%; }

.loginInputBoxen {
  display: block;
  margin: auto;
  width: 90%; }

.inputBoxen {
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%; }

/*.fragenAnzahlBtn{
    color:white;
    border-radius:10px;
    border: 1px outset rgba(0,0,0,.7);
    background:$color-main;
    text-align: center;
    font-size:3vh;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    width:90%;
    margin:auto;
    margin-bottom: 2%;
    margin-top: 2%;    
}*/
.absendeBtn {
  background: #fa5858; }

.fragenWrap {
  margin-top: 2%;
  margin-bottom: 2%;
  background: lightgrey;
  padding-top: 2%;
  padding-bottom: 2%; }

.userName.inputBoxen {
  margin-top: 2%;
  margin-bottom: 2%; }

.passWord.inputBoxen {
  margin-top: 2%;
  margin-bottom: 2%; }

.fragenAnzahl.formularBtn {
  color: white;
  border-radius: 10px;
  border: 1px outset rgba(0, 0, 0, 0.7);
  _background: #fa5858;
  background: lightblue;
  text-align: center;
  font-size: 3vh;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%; }

/*# sourceMappingURL=main.css.map */
