<div id="mainBox" class="mainBox"> 
  <div id="containerBox" class="containerBox"></div>
  <div id="popupBox1" class="popupBox1">
    <div id="popupBox" class="popupBox"></div>
  </div>
  <div id="weiterBox" class="weiterBox"></div>
</div> 